################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RecipeMaster1/obj
/RecipeMaster1/bin/Debug/net6.0
/RecipeMaster.Engine/obj
/RecipeMasterDatabase/bin/Debug/net6.0
/RecipeMasterDatabase/obj
/RecipeMaster.Engine/bin/Debug/net6.0
