################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RecipeMaster1/obj
/RecipeMaster1/bin/Debug/net6.0
